
body {
    font-family: 'Open Sans', sans-serif; 
    background-color: #f5f5f5;
    text-align: center;
  }
  
  /* Container */
  .container {
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    /* background-image: url(path/to/image.jpg); */
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); 
    color: #333; 
  }
  
 
  h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
    text-transform: uppercase; 
  }
  
  #quoteDisplay {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  

  #quoteButton {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s 
  }
  
  #quoteButton:hover {
    background-color: #3e8e41; 
  }
  
  @media (max-width: 768px) {
    .container {
      width: 90%; 
    }
  }
  